<nav class="bg-primary text-primary-foreground py-4 px-8">
  {% block navbar %}
    <div class="flex justify-between">
      <ul class="flex gap-4">
        <li>
          <a href="{{ url_for("index") }}">Home</a>
        </li>
        <li>
          <a href="/">Blogs</a>
        </li>
        {% if 1==2 %}
          <li>
            <a href="/">My blogs</a>
          </li>
          <li>
            <a href="/">Profile</a>
          </li>
        {% endif %}
      </ul>
      <ul class="flex gap-4">
        {% if 1==2 %}
          <li>
            <a href="/">Logout</a>
          </li>
        {% else %}
          <li>
            <a href="/">Login</a>
          </li>
          <li>
            <a href="/">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endblock navbar %}
</nav>
