<div class="bg-card border border-accent text-card-foreground p-4 rounded-lg shadow-lg flex flex-col min-h-[400px]">
  {% if blog.image %}
    <img src="{{ blog.image }}"
         alt="{{ blog.title }}"
         height="192"
         width="192"
         class="w-full h-48 object-cover rounded-t-lg">
  {% endif %}
  <h3 class="text-xl text-primary font-semibold mt-2 line-clamp-2">{{ blog.title }}</h3>
  <p class="font-semibold my-2 flex flex-wrap gap-2">
    {% for tag in blog.tags %}
      <span class="bg-secondary text-secondary-foreground px-2 py-1 rounded-md text-sm">{{ tag.name }}</span>
    {% endfor %}
  </p>
  <p class="line-clamp-3 mb-2 flex-grow">{{ blog.content | striptags }}</p>
  <div class="flex justify-between mt-auto">
    <a href="{{ url_for("blogs.detail", blog_id=blog.id) }}"
       class="w-auto ml-auto hover:bg-primary/80 bg-primary px-3 py-2 mr-2 rounded-lg text-primary-foreground mt-auto">Read More</a>
    {% if show_actions %}
      <div class="flex space-x-2">
        <a href="/"
           class="bg-teal-500 hover:bg-teal-600 text-primary-foreground px-3 py-2 rounded-lg">Edit</a>
        <a href="/"
           class="bg-red-600 hover:bg-red-700 text-primary-foreground px-3 py-2 rounded-lg">Delete</a>
      </div>
    {% endif %}
  </div>
</div>
