{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-background">
  <meta name="description" content="Blog browser">
  <meta name="keywords" content="Blog">
  <head>
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <title>
      {% block title %}
        TriFrameBlog Django
      {% endblock title %}
    </title>
  </head>
  <body class="min-h-screen flex flex-col">
    {% include "components/navbar.html" %}
    <main class="w-4/5 m-auto pt-4 flex-grow">
      {% block content %}
      {% endblock content %}
    </main>
    {% include "components/footer.html" %}
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
